@charset "UTF-8";
.back {
    background-image: url("../img/honnni.png");
    background-size: cover;
}
div{
    font-size: 25px;
    text-align: center;
    margin: 100px 0 0 0px; /* 完全に中央に配置するため、上・左の margin を負の数に設定 */
}

.nav-link {
	display: block;
	text-align: center;
	text-decoration: none;
	width: 5%;
	margin: auto;
	padding: 1rem 4rem;
	font-weight: bold;
	border-radius: 0.3rem;
	border-bottom: 7px solid black;
	background: blue;
	color: black;
}
.nav-link:hover {
	margin-top: 6px;
	border-bottom: 1px solid #0686b2;
	color: #fff;
}

table{
    background-color:gray;
	margin-left: auto;
    margin-right: auto;
	color:#ffffff;
}
table th{
    background-color:black;
}

.login {
    width: 300px;
    margin: 0 auto;
}
.login form {
    width: 100%;
}

.btn {
    background: linear-gradient(to bottom, #009EFF 0px, #0075BC 100%) repeat scroll 0 0 transparent;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.55);
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 0 #E6F5FF inset;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    padding: 10px 25px;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    width: 100%;
}


