@charset "UTF-8";
.back {
    background-image: url("../img/honnni.png");
    background-size: cover;
}
div{
    font-size: 25px;
    text-align: center;
    margin: 100px 0 0 0px; /* 完全に中央に配置するため、上・左の margin を負の数に設定 */
}





