<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
    href="{{url_for('static',
    filename='css/index.css')}}"/>
    <link
    rel="icon"
    href="{{url_for('static', filename='favicon/favicon.ico')}}"
    />
    <title>Document</title>
</head>
<body class="back">
    <div>
    <h1>削除画面</h1>
	<form action="{{url_for('delete_exe')}}" method="post">
	id:<input type="text" name="id"><br>
		<input class="color" type="submit" value="削除"><br>
    </form>
    <a href="list">一覧に飛ぶ</a>
    <a class="nav-link" href="javascript:history.go(-1)">戻る</a>
</div>
</body>
</html>