<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
    href="{{url_for('static',
    filename='css/index.css')}}"/>
    <link
    rel="icon"
    href="{{url_for('static', filename='favicon/favicon.ico')}}"
    />
    <title>Document</title>
    </head>
    <body class="back">
        <div>
        <h1>編集</h1>
<form action="{{url_for('edit_exe')}}" method="post">
    ID:<input type="test" name="id" value="{{id}}" Readonly><br>
    タイトル：<input type="text" name="title"><br>
    著者：<input type="text" name="author"><br>
    出版社：<input type="text" name="publisher"><br>
    ページ数：<input type="number" name="pages"><br>
    説明：<input type="text" name="explanation"><br>
    <button class="color" type="submit">編集</button>
</form>
    <a class="nav-link" href="javascript:history.go(-1)">戻る</a>

    </div>
</body>
</html>