<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
    href="{{url_for('static',
    filename='css/index.css')}}"/>
    <link
    rel="icon"
    href="{{url_for('static', filename='favicon/favicon.ico')}}"
    />
    <title>Document</title>
</head>
<body class="back">
    <div>
    <h1>説明</h1>
<table border="1">
    <head>
        <tr>
            <th>説明</th>
        </tr>
    </head>
    <lbody>
        {% for explanation in explanations %}
        <tr>
            <td>{{ explanation[0] }}</td>
        </tr>
        {% endfor %}
    </lbody>
</table>
    <a href="javascript:history.go(-2)">戻る</a>
    </div>
</body>
</html>