<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
    href="{{url_for('static',
    filename='css/index.css')}}"/>
    <link
    rel="icon"
    href="{{url_for('static', filename='favicon/favicon.ico')}}"
    />
<body class="back">
    <div>
    <h1>一覧</h1>
    <table>
    <thead>
        <tr>
            <th>id</th>
            <th>タイトル</th>
            <th>著者</th>
            <th>出版社</th>
            <th>ページ数</th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
        <tr>
            <td>{{ book[0] }}</td>
            <td>{{ book[1] }}</td>
            <td>{{ book[2] }}</td>
            <td>{{ book[3] }}</td>
            <td>{{ book[4] }}</td>
            <td><a href="{{url_for('edit', id=book[0])}}">編集</a></td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    <a href="delete">削除に飛ぶ</a>
    <a class="nav-link" href="vip">戻る</a>
    </div>
</body>
</html>