<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
    rel="icon"
    href="{{url_for('static', filename='favicon/favicon.ico')}}"
    />
    <title>本の検索</title>
</head>
<body class="back">
    <h3>検索したい本のタイトルを入力してね</h3>
    <form action="{{url_for('search_result')}}" method="post">
    タイトル:<input type="text" name="title" value="{{title}}" /><br />
    <button type="submit">検索</button>
    </form>
</body>
</html>